.boardTile
{
    position: fixed;
}

.boardTileImage
{
    position: relative;
    top: 0px;
    left: 0px;

    min-width: 100%;
    max-width: 100%;

    min-height: 100%;
    max-height: 100%;

    user-select: none;
}

.boardTileText
{
    position: absolute;
    left: 2px;
    font-size: 0.75em;
    user-select: none;
}

.boardTileActive
{
    background-color: rgba(77, 237, 165, 0.8);
}

.boardTileHovered
{
    background-color: rgba(77, 237, 165, 0.5);
}

.boardTileMovable
{
    background-color: rgba(77, 213, 237, 0.65);
}

.boardTileThreatenedWhite
{
    background-color: rgba(237, 77, 208, 0.5);
}

.boardTileThreatenedBlack
{
    background-color: rgba(237, 221, 77, 0.5);
}